.chase-alert{
	-webkit-box-shadow: 0 0 24px rgba(0,0,0,.4);
	-moz-box-shadow: 0 0 24px rgba(0,0,0,.4);
	box-shadow: 0 0 24px rgba(0,0,0,.4);
	padding: 10px 20px;
	border-left: solid 4px rgb(74, 134, 232);
	background-color: white;
	position: fixed;
	top: 50px;
	right: -300px;
	min-width: 150px;
	max-width: 200px;
	-webkit-transition: ease right .2s;
	-moz-transition: ease right .2s;
	-ms-transition: ease right .2s;
	-o-transition: ease right .2s;
	transition: ease right .2s;
}